
/*############# Base ###########*/

.UpperPage {
    font-family: Serif sans-serif;
}

.UpperPage table{
    width: 100%;
    text-align: center;
}
.UpperPage table td{
    text-align: left;
}
/*############### Editor ##############*/
#add_button {
    background-color: #202020;
}


/*################ NewPlan #############*/

.container {
    display: grid;
    grid-template-columns: 65% 30%;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-height: 520px;
    overflow: scroll;
}

button {
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    border-radius: .5rem;
}

tr td {
    padding-bottom: 1em;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-weight: bold;
}


#plansDisplay table {
    overflow: scroll;
    table-layout: fixed;
}

#plansDisplay tr td {
    padding-bottom: 1em;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
}

#plansDisplay tr:hover :not(th) {
    background-color: #101010;
}

input {
    color: #00CED1;
    background-color: #404040;
}

.label {
    color: #00CED1;
    font-size: small;
}

#exposures , #exposureTime , #filter{
    width: 70px;
    height: 25px;
    margin: 10px;
    background-color: #404040;
    color: #00CED1;
}
