#submit{
    background-color: #4CAF50;
}

.list {
    background: #101010;
    width: 180px;
    height: 300px;
    margin: auto;
    overflow-y: scroll;
    scrollbar-color: #303030 #b3cccc;
    scrollbar-base-color: #404040;
    border-radius: .5rem;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #298F85;
    border-radius: 6px;
}

