.submit_button {
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
}

button {
    background-color: #303030;
    width: min-content;
}

button:hover {
    background-color: #404040;
}

input {
    width: 120px;
}

.dummyFrames {
    width: 70px;
}

.submit_button:hover {background-color: #3e8e41}

.submit_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.list {
    background: #101010;
    width: 198px;
    height: 300px;
    margin: auto;
    overflow-y: scroll;
    scrollbar-color: #303030 #b3cccc;
    scrollbar-base-color: #404040;
    border-radius: .5rem;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #298F85;
    border-radius: 6px;
}

