.container {
    display: grid;
    grid-template-columns: 60% 40%;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-height: 520px;
    overflow: scroll;
}

.plan_item {
    height: 30px;
    background: white;
}

